<a href="https://colab.research.google.com/github/adelino-dev/Katie-CienciaDeDados/blob/main/atividades/respostas/atividade01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 01 - Introdução ao Python
Katie - Minicurso de Ciência de Dados

Adelino Martins

## Exercício 1

Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for numero in numeros:
  print(numero)

1
2
3
4
5
6
7
8
9
10

## Exercício 2

Crie uma lista de 5 objetos e imprima-os na tela.

In [ ]:
objetos = ["lápis", "livro", "borracha", "pente", "teclado"]

for objeto in objetos:
  print(objeto)

lápis
livro
borracha
pente
teclado

## Exercício 3
 
Crie duas strings e concatene as duas em uma terceira string.

In [ ]:
string1 = "Data "
string2 = "Science"

string3 = string1 + string2
string3

'Data Science'

## Exercício 4

Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 
e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

In [ ]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

## Exercício 5

Crie um dicionário vazio e imprima na tela.

In [ ]:
dicionario = {}
print(dicionario)

{}

## Exercício 6

Crie um dicionário com 3 chaves e 3 valores e imprima na tela.

In [ ]:
dicionario = {"key1":"value1", "key2":"value2", "key3":"value3"}
print(dicionario)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

## Exercício 7

Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela.

In [ ]:
dicionario["key4"] = "value4"
print(dicionario)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

## Exercício 8

Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

In [ ]:
dic = {"A":1, "B":2, "C":[3, 4]}
print(dic)

{'A': 1, 'B': 2, 'C': [3, 4]}

## Exercício 9

Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista na tela.

In [ ]:
bolsa = ["caderno", ("lápis", "borracha"), {"caneta preta":2, "caneta azul":1}, 1.22]
print(bolsa)

['caderno', ('lápis', 'borracha'), {'caneta preta': 2, 'caneta azul': 1}, 1.22]

## Exercício 10 

Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 
18.

```python
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
```

In [ ]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[0:18])

Cientista de Dados